<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>taxisurfr</title>

</head>

<body>
<table width="637" border="0" align="center" cellpadding="0" cellspacing="0">
<style type="text/css">
</style>
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
    <tr>
      <td height="34" class="tit"><strong>Please rate your taxi transfer.
      </strong><strong class="titcolor"></strong></td>
    </tr>
    <tr>
      <td height="1"></td>
    </tr>

      <td align="left" valign="top" bgcolor="#FAFAFA" class="textpadding">
	  <table width="50%" border="0" cellspacing="0" cellpadding="0">
		Hey ___NAME__,<br><br>
thanks for travelling recently with our taxi service.<br>

Were you satisfied with your ride?<br> 

Filling out the feedback form on the link below is the best way to help us improve our service.<br> 
It informs the taxi contractor where there is room for improvement and also signals trust to fellow passengers who have not yet used the service.<br>
___LINK__<br>
<br><br>
Kind regards<br>
				<table>
				<tr><td>taxisurfr</td></tr>
				<tr><td>http://www.taxisurfr.com</td></tr>
				<tr><td>dispatch@taxisurfr.com</td></tr>
				</table>
</body>
</html>
